<div>
  <a href="https://vitejs.dev" target="_blank">
    <img class="logo vite" alt="Vite logo" />
  </a>
  <a
    href="https://developer.mozilla.org/en-US/docs/Web/API/Web_components"
    target="_blank"
  >
    <img class="logo vanilla web-components" alt="Web Components logo" />
  </a>
  <h1>Hello Vite & Web Components!</h1>
  <div class="card">
    <my-counter count="0"></my-counter>
  </div>
  <p class="read-the-docs">
    Click on the Vite or Web Components logo to learn more
  </p>
</div>
